.buttonRow {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  margin-left: -24px;
  margin-bottom: -24px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-top:  12px;
}

@media only screen and (max-width: 800px) {
  .buttonRow {
    height: 100px;
    width: 80vw;
  }
}  
